@model ProductPageViewModel
<h1>It is product list</h1>
@foreach (var laptop in Model.Laptops)
{
<h2>@laptop.Title</h2>

<h2>@laptop.Price</h2>
}

@Html.ActionLink("Create New Laptop", "CreateLaptop", "Product");
