<h1> Add New File to our store</h1>

    <form method="post" asp-action="UploadFile" asp-controller="Product" enctype="multipart/form-data">
        <input type="file" name="files" multiple />
        <input type="submit" value="Upload" />
    </form>
