@using OnlineShoppingWeb.ViewModels
@model CartPageViewModel

<h1>You have @Model.Products.Count() in your cart</h1>
@foreach (var product in Model.Products)
{
    
    <div class="col-sm-4">
        <h4>@product.Title</h4>
        <h4>@product.Price</h4>
        <button>Delete</button>
        <button>Change Qty</button>
    </div>
}
