@using System.Security.Principal
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>
    @if (User.Identity.IsAuthenticated)
    {


    }
    else
    {
        @*//linkText, actionName, controllerName, routeValues, htmlAttributes*@

        @Html.ActionLink("Login In", "Login","Account");
        @Html.ActionLink("Login In", "Register", "Account");

    }
        </div>

        <div>
            @RenderBody()
        </div>
    </body>
    </html>
