@using OnlineShoppingWeb.ViewModels

@{
    ViewBag.Title = "Register";

}

@model ForgotPasswordViewModel

<h2>Add Email to retrive your password</h2>
<hr />
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    
    <input type="submit" value="Register" />
}
