<div class="panel panel-default">
    <div class="panel-heading">Cart Details with Angular2 +Web API</div>
    <div class="panel-body">
        <table class="table" *ngIf="data?.products">
            <tr *ngFor="#currentV of data.products" class="tableRow">
                <td>Title</td>
                <td>{{currentV.title}}</td>
                <td>Price</td>
                <td>{{currentV.price}}</td>
                <td>Quantity</td>
                <td>{{currentV.quantity}}</td>
                <!--<td>Save For Latar</td>-->
                <td>
                    <form class="">
                        <button class="add-button btn btn-primary btn-block" (click)="toSaveForLater(currentV.productId)">Save For Later</button>
                    </form>
                </td>
                <td>Delete</td>
                <td>{{currentV.quantity}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Save For Laters Details with Angular2 +Web API</div>
    <div class="panel-body">
        <table class="table" *ngIf="data?.saveForLaters">
            <tr *ngFor="#currentV of data?.saveForLaters" class="tableRow">
                <td>Title</td>
                <td>{{currentV.product?.title}}</td>
                <td>Price</td>
                <td>{{currentV.product?.price}}</td>
            </tr>
        </table>
    </div>
</div>