<h1 class="font-page-header">Here is Home Page</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 own-column">
            <div class="font-page-image">
                <img class="" src="https://static.pexels.com/photos/36428/book-read-relax-lilac-large.jpg" alt="" />
                <div class="font-image-overlay">
                    <h2>Manager your Account</h2>
                    <button class="btn overlay-btn">
                        @Html.ActionLink("Account Center", "Index", "Account")
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 own-column">
            <div class="font-page-text">
                <h1>Are you Look for something to make your life better</h1>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 own-column">
            <div class="font-page-text">
                <h1>Are you Look for something to make your life better</h1>
            </div>
        </div>
        <div class="col-md-6 own-column">
            <div class="font-page-image">
                <img src="https://static.pexels.com/photos/173983/pexels-photo-173983-large.jpeg" alt="" />
                <div class="font-image-overlay">
                    <h2>Browser all our Products</h2>
                    <button class="btn overlay-btn">
                        @Html.ActionLink("View All Products", "Index", "Client")
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 hidden-xs">
            <div class="font-page-image">
                <img class="" src="https://static.pexels.com/photos/425/apple-iphone-desk-office-large.jpg" alt="" />
                <div class="font-image-overlay">
                    <h2>All Product</h2>
                    We Have a varity of product
                    <button class="btn overlay-btn">
                        @Html.ActionLink("Admin Tools", "Index", "Product")
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="font-page-text">
                <h1>Are you Look for something to make your life better. </h1>
                <h1>Essential for everything you do</h1>
                <h4>Lightweight, 14” laptop featuring Intel® processors</h4>
                <h1>Limits are for pushing.</h1>
                <h4>Power your game with advanced Intel® Core™ processors and the latest graphics.</h4>
            </div>
        </div>
    </div>

</div>