<h1>Here is Home Page</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="font-page-image">
                <img class="" src="https://static.pexels.com/photos/36428/book-read-relax-lilac-large.jpg" alt="" />
                <div class="font-image-overlay">
                    <h2>See More</h2>
                    We Have a varity of product
                </div>
            </div>
            </div>
        <div class="col-xs-6">
            <h1>Are you Look for something to make your life better</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-6">
            <h1>Are you Look for something to make your life better</h1>
        </div>
        <div class="col-xs-6">
            <div class="font-page-image">
                <img src="https://static.pexels.com/photos/173983/pexels-photo-173983-large.jpeg" alt="" />
                <div class="font-image-overlay">
                    <h2>See More</h2>
                    We Have a varity of product
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="font-page-image">
                <img class="" src="https://static.pexels.com/photos/425/apple-iphone-desk-office-large.jpg" alt="" />
                    <div class="font-image-overlay">
                    <h2>See More</h2>
                    We Have a varity of product
                    </div>
                 </div>
            </div>
        <div class="col-xs-6">
            <h1>Are you Look for something to make your life better</h1>
        </div>
    </div>

</div>