  <!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-fluid-height">
    <img class="img-responsive img-center" src="~/img/icon2.png" alt="">
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">The Newest Computer and Laptop</h1>
                <p class="lead section-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
            </div>
        </div>
    </div>
</section>


<div class="">
    <div class="row">
        <div class="col-md-4 own-column">
            <div class="font-page-image">
                <img class="" src="https://static.pexels.com/photos/36428/book-read-relax-lilac-large.jpg" alt="" />
                <div class="font-image-overlay">
                    <h2>Manager your Account</h2>
                    <button class="btn overlay-btn">
                        @Html.ActionLink("Account Center", "Index", "Account")
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 own-column">
            <div class="font-page-image">
                <img src="https://static.pexels.com/photos/173983/pexels-photo-173983-large.jpeg" alt="" />
                <div class="font-image-overlay">
                    <h2>Browser all our Products</h2>
                    <button class="btn overlay-btn">
                        @Html.ActionLink("View All Products", "Index", "Client")
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-4 own-column">
            <div class="font-page-image">
                <img class="" src="https://static.pexels.com/photos/425/apple-iphone-desk-office-large.jpg" alt="" />
                <div class="font-image-overlay">
                    <h2>All Product</h2>
                    We Have a varity of product
                    <button class="btn overlay-btn">
                        @Html.ActionLink("Admin Tools", "Index", "Product")
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>