
@using OnlineShoppingWeb.ViewModels;
@model DepartmentViewModel
<h1> Here is all list under @Model.DepartmentOfSub.Description </h1>
@foreach(var sub in Model.SubDepartments)
{
    <h1>@sub.SubDepartmentId  @sub.Description </h1>
}

@Html.ActionLink("Create New SubDepartment", "AddSubDepartment", "Department",new { departmentId = Model.DepartmentOfSub.DepartmentId });
