
@using OnlineShoppingWeb.ViewModels;
@model DepartmentViewModel
<h1> Here is all list under @Model.DepartmentOfSub.Description </h1>
@foreach (var sub in Model.SubDepartments)
{
    @*<h2>@Html.ActionLink(sub.Description, "DepartmentofSubDepartment", "Department", new { departmentId = Model.DepartmentOfSub.DepartmentId, subDepartmentId= sub.SubDepartmentId })</h2>*@

   
    <h1><a href="/department/@Model.DepartmentOfSub.DepartmentId/AddSubDepartment/@sub.SubDepartmentId">@sub.Description</a></h1>
}

@Html.ActionLink("Create New SubDepartment", "AddSubDepartment", "Department",new { departmentId = Model.DepartmentOfSub.DepartmentId });
